.header {
    height: 150px;
    width: 100%;
    background: slategray;
}
.left {
    height: 600px;
    width: 70px;
    float: left;
    background: firebrick;
}
.right {
    height: 600px;
    width: 70px;
    float: right;
    background: firebrick;
    padding 20px;
}
.footer {
    height: 10vh;
    width: 100vw;
    background: lightgrey;
    margin: 521px 00px 00px 00px;
}